.o-title {
  margin-top: 1.5vh;
  background-color: #0630AA;
  padding: 3%;
}
.o-title .o-accountLogo {
  color: #f3e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.o-title .a-title {
  color: #f3e9e9;
  font-size: 20pt;
  font-family: "American Typewriter";
}
.o-title .a-title__bold {
  font-weight: bolder;
}

.a-accountLogo {
  color: #f3e9e9;
}

.o-datePicker {
  box-sizing: border-box;
  background-color: #FF2D00;
  padding: 2.3vh;
  border-radius: 45pt;
  margin-top: 2vh;
}
.o-datePicker .m-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.o-datePicker .m-arrow .a-arrow {
  height: 25px;
}
.o-datePicker .m-arrow .a-arrow__transform {
  transform: scaleX(-1);
}
.o-datePicker .a-currentDate {
  display: block;
  text-align: center;
  font-family: "Arial";
  font-weight: bold;
  font-size: 13pt;
  color: #f3e9e9;
}

.m-nearGamedayLink {
  padding: 1vh;
  text-align: center;
  font-size: large;
}

.o-scores {
  margin-top: 3vh;
  box-sizing: border-box;
  box-shadow: 3px 2px 8px 1px rgba(0, 0, 0, 0.35);
  padding: 1vh;
  border-radius: 45pt;
}
.o-scores .m-gameStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.o-scores .m-gameStatus .a-gameStatus {
  text-align: center;
}
.o-scores .a-teamScore {
  font-family: "Arial";
  font-size: 19pt;
  color: #0630AA;
}
.o-scores .m-logo {
  text-align: center;
}
.o-scores .m-logo .a-logo {
  height: 40px;
}
.o-scores .m-logo .a-teamName {
  color: #0630AA;
  font-family: "Arial";
  display: block;
  text-align: center;
}

.a-noGameList {
  padding: 5vh;
  text-align: center;
  font-size: larger;
}

.o-bottomNav {
  display: flex;
  position: fixed;
  max-height: 115px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 2%;
  background-color: #FF2D00;
  color: #f3e9e9;
  box-shadow: 0px 0px 6px 0px #131010;
}
.o-bottomNav .m-bottomNav__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.o-bottomNav .m-bottomNav__element:link {
  color: #f3e9e9;
}
.o-bottomNav .m-bottomNav__element:hover {
  color: #f3e9e9;
}
.o-bottomNav .m-bottomNav__element:active {
  color: #f3e9e9;
}
.o-bottomNav .m-bottomNav__element:visited {
  color: #f3e9e9;
}

.o-tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  margin-bottom: 20vw;
}
.o-tableContainer .m-standingsTable {
  text-align: center;
  padding: 3px;
  width: 95%;
  border-radius: 15px;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.23);
}
.o-tableContainer .m-standingsTable th {
  padding: 5px;
}
.o-tableContainer .m-standingsTable .a-standings {
  padding: 1vh;
}
.o-tableContainer .m-standingsTable .a-standingsLogo {
  height: 3vh;
}

.m-tableHead {
  border-radius: 15px;
}

.a-leagueTitle {
  background-color: #0630AA;
  font-weight: bold;
  color: #f3e9e9;
  padding: 1vh;
}

.o-favoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF2D00;
  border-radius: 45pt;
  padding: 2.3vh;
  margin-top: 2vh;
}
.o-favoHeader .a-favoritesHeader {
  color: #f3e9e9;
  font-size: "American Typewriter";
  font-family: "Arial";
  font-weight: bold;
}

.o-favoAddBtn {
  display: flex;
  padding: 3vh;
  margin-top: 1vh;
  border-radius: 15px;
  background-color: #0630AA;
  color: #f3e9e9;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.o-favoAddBtn .a-favoAddBtn {
  font-size: 15pt;
  line-height: 0rem;
}

.o-checkbox {
  margin-bottom: 15vh;
}

.o-teamsCheckbox {
  box-shadow: 3px 2px 8px 1px rgba(0, 0, 0, 0.35);
  border-radius: 1vh;
  padding: 1vh;
  margin-top: 1vh;
}

.a-teamnameCheckbox {
  text-align: center;
  font-size: 15pt;
}

.m-inputCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-inputCheckbox {
  height: 25px;
  width: 25px;
}

.a-buttonCheckbox {
  padding: 2vh 4vh;
  border-radius: 10px;
  background-color: #FF2D00;
  border: none;
  color: #f3e9e9;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.23);
}

.m-noFavoriteGames {
  margin-top: 1vh;
  text-align: center;
}

.o-gameStats {
  background-color: #FF2D00;
  border-radius: 25px 25px 0px 0px;
  padding-bottom: 5vw;
}

.o-bgc {
  background-color: #FF2D00;
  padding-bottom: 5vw;
}

.o-title {
  margin-top: 1.5vh;
  background-color: #0630AA;
  padding: 2vh;
}
.o-title .a-title {
  color: #f3e9e9;
  font-size: 20pt;
  font-family: "American Typewriter";
  font-weight: bold;
}
.o-title .a-title__bold {
  font-weight: bolder;
}

.o-mainStat {
  margin-top: 5vh;
  padding: 3vh;
}
.o-mainStat .m-mainStat {
  text-align: center;
}
.o-mainStat .m-mainStat .a-logo {
  height: 90px;
}
.o-mainStat .m-mainStat .a-score {
  display: block;
  font-size: 23pt;
  font-family: "Arial";
  color: #f3e9e9;
}
.o-mainStat .m-mainStat .a-teamLocation {
  color: #f3e9e9;
}

.o-actionbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.o-actionbar .m-actionbar {
  width: 80vw;
  background-color: #f3e9e9;
  border-radius: 40px;
  padding: 0.5vh;
}
.o-actionbar .m-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.o-actionbar .m-logo .a-actionLogo {
  color: #0630AA;
}
.o-actionbar .m-logo .m-stats {
  background-color: #0630AA;
  color: #f3e9e9;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 5px;
}
.o-actionbar .m-logo .m-stats .a-statSelect {
  background-color: #f3e9e9;
  color: #0630AA;
  border: 1px solid #0630AA;
  border-radius: 15px;
  padding: 4px;
  cursor: pointer;
}
.o-actionbar .m-logo .m-stats .a-statNone {
  color: #f3e9e9;
  cursor: pointer;
}

.o-leaders {
  text-align: center;
  color: #f3e9e9;
}
.o-leaders .a-leader__score {
  font-size: 14pt;
  font-weight: bold;
}

.o-table {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 25px 25px;
}
.o-table .m-table {
  font-size: 12pt;
  color: #f3e9e9;
  text-align: center;
}
.o-table td:first-child {
  text-align: left;
  padding-left: 3vw;
  width: 31vw;
}
.o-table th:first-child {
  text-align: left;
  padding-left: 3vw;
}
.o-table td {
  padding-top: 2vh;
  padding-left: 1vw;
}

.a-noGameNotification {
  padding: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.o-signinForm {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.o-signinForm .m-signinForm {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 2px 8px 1px rgba(0, 0, 0, 0.35);
  padding: 5vw;
  justify-content: space-evenly;
}
.o-signinForm label {
  margin-bottom: 0.3vh;
}
.o-signinForm input {
  margin-bottom: 0.3vh;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  padding: 0px 15px;
}

.notfound .notfound-404 {
  position: relative;
  height: 150px;
  line-height: 150px;
  margin-bottom: 25px;
}

.notfound .notfound-404 h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 186px;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
  color: #FF2D00;
  background-size: cover;
  background-position: center;
}

.notfound h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.notfound p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.notfound a {
  font-family: "Titillium Web", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  border: none;
  background: #0630AA;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 1px;
  margin-top: 15px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 110px;
    line-height: 110px;
  }

  .notfound .notfound-404 h1 {
    font-size: 120px;
  }
}
